/* only small desktops */
/* tablets */
/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
	.top-header .navbar .navbar-collapse ul li a{
		padding: 5px 15px;
	}
	.about-img{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.gallery-box ul li{
		width: 33.33%;
	}

	.navbar-brand i {
		display: none;
	}
}

/* mobile or only mobile */
@media (max-width: 767px) {
	.navbar-brand{
		margin-left: 15px;
	}
	.navbar-brand img {
		height: 60px;
	}

	.top-header .navbar .navbar-collapse ul li a{
		padding: 5px 15px;
	}
	.lbox-details h1{
		font-size: 40px;
	}
	.lbox-details h2{
		font-size: 32px;
	}
	.lbox-details p strong{
		font-size: 32px;
	}
	.lbox-details a.btn{
		display: none;
	}
	.title-box h2{
		font-size: 28px;
	}
	.about-main-info h2{
		font-size: 24px;
	}
	.about-img{
		margin-bottom: 30px;
	}
	.main-timeline-box .separline::before{
		left: 15px !important;
	}
	.main-timeline-box .iconBackground{
		left: 15px !important;
	}

	.main-timeline-box .reverse .timeline-text-content,
	.main-timeline-box .reverse .timeline-date-content,
	.main-timeline-box .timeline-date-content,
	.main-timeline-box .timeline-text-content{
		margin: 0 10px;
	}

	.main-timeline-box .timeline-date-content{
		margin-right: 0px;
	}
	.main-timeline-box .timeline-date-content p{
		float: left;
	}
	.main-timeline-box .timeline-element{
		padding: 0px 15px;
	}
	.gallery-box ul li{
		width: 50%;
	}

	#story.story-box .row img {
		margin: 0 1em;
		float: none;
	}

	/* .lbox-details::before{
		background-image: none;
		background: linear-gradient(180deg, rgba(135, 186, 170, 1) 0%, rgba(135, 186, 170, 1) 50%, rgba(201, 207, 135, 1) 100%);
	} */


	.align-right{
		text-align: left;
	}

	#top-header.fixed-menu{
		height: 70px;
	}

	#intro.fixed-menu{
		padding-top: 70px;
	}

	.pogoSlider {
		padding-bottom: 60% !important;
	}

	.pogoSlider p {
		margin-bottom: 0;
	}

	.navbar-nav li {
		text-indent: 1.5em;
	}
}

@media (min-width: 1000px) {
	#contact .container{
			max-width: 900px;
	}

	#top-header.fixed-menu{
		height: 110px;
	}

	#intro.fixed-menu{
		padding-top: 110px;
	}

	.pogoSlider {
		padding-bottom: 40% !important;
	}

	.navbar-brand i {
		display: none;
	}
}
