{}
#story .row img {
  float: right;
  height: 75px;
  margin: 0 2em;
}

#story .row.reverse img {
  float: left;
}

#about .title-box {
  display: grid;
  align-items: center;
  height: 200px;
}

.fa-spinner {
  display: none;
  color: #fff;
}

.text-success {
  color: #fff !important;;
}

#msgSubmit {
  margin-top: 2em;
}

#location ul li {
  list-style: disc;
  margin-left: 1em;
}

#about {
  display: none;
}

#submit {
  width: 200px;
  color: black;
}

.bg-color-green {
  background-color: #87baaa;
}

.bg-color-green .title-box H2,
.bg-color-green p,
.bg-color-green h4
 {
  color: white;
}
.iban {
  font-size: 1.3em;
  text-align: center;
  padding: 1em 0;
}

p a,
.navbar-brand i{
  color: #87baaa;
}
